*{
	overflow: hidden;
}
html{ 
	width:100%;
	height:100%;
}

body { 
	width:100%;
	height:100%;
	margin:auto;
	background-color:#FFFFFF;
	margin:auto;
	font-family: 'Lato', sans-serif;
	display: flex;
	flex-direction: row;
}

header {
	background-color: #EDEDED;
	flex-grow: 1;
	width: 100%;
	padding: 10px;
}

#otsikko{
	font-family: 'Lobster', cursive;
}

#sivupalkki {
	height: 100%;
	background-color:#272630;
	color:white;
	font-size: 1.5em;
	flex-grow: 1;
	padding: 10px;  
	overflow-y: auto;
	overflow-x: hidden;
}

#block1{
	flex-grow: 1000;
	display: flex;
	flex-direction: column;
}


a {
	color:white;
	text-decoration: none;
}

#sisalto {
	margin:auto;
	flex-grow: 1000;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
	padding: 20px;
}

#sisalto input{
	margin: 5px;
}